
  #login{
    flex-direction: column;
    text-align: center;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    /* font-family: Arial, Helvetica, sans-serif; */
  }


#login > form {
  align-content: center;
  padding-left: 35%;
}

  .row{
      justify-content: center;
  }

  body{
      background-color: #fafafa;
  }

.card-body{
    background-color: #fafafa;
    border: 1px solid #00000020;
    border-radius: 2px;
}

.card-text{
   font-weight: bold; 
}

.logos {
  
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }




h1{
  display: inline;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
}

.fling-minislide {width:70%; height:0px; padding-bottom: 55%; overflow:hidden; position: relative; justify-content: center;}
.fling-minislide img{ position:absolute; animation:fling-minislide 15s infinite; opacity:0; width: 50%; height: auto; align-content: center; margin-left: auto;
  margin-right: auto; left: 0; right: 0; text-align: center;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}

.fling-minislide img:nth-child(3){animation-delay:0s;}
.fling-minislide img:nth-child(2){animation-delay:5s;}
.fling-minislide img:nth-child(1){animation-delay:10s;}